.git
.github
node_modules
target
holocore/target
holographic_core/target
__pycache__
**/*.pyc
.env*
*.exe
*.zip
conductor
repomix-context.xml
brain
.continue
tmp
test
docs
*.md
LICENSE
.agent
.gemini
_agent
_agents
.agents
*.png
*.jpg
*.jpeg
*.gif
*.svg
!public/*.svg
!public/*.png
!public/*.jpg
!public/*.jpeg
!public/*.gif
